@jabil:registry=https://pkgs.dev.azure.com/jblinnersource/ab32dfdb-775d-44da-a767-c4e669a46d63/_packaging/uiux-community/npm/registry/
@jabil:always-auth=true

; begin auth token
//pkgs.dev.azure.com/jblinnersource/ab32dfdb-775d-44da-a767-c4e669a46d63/_packaging/uiux-community/npm/registry/:username=jblinnersource
//pkgs.dev.azure.com/jblinnersource/ab32dfdb-775d-44da-a767-c4e669a46d63/_packaging/uiux-community/npm/registry/:_password=YXI0bndpbGRtdjZmanJleDU0YTVwYW1uZGc0NDN0bHlnanVrM3Uzd21ubWtjZGw1aWZ0YQ==
//pkgs.dev.azure.com/jblinnersource/ab32dfdb-775d-44da-a767-c4e669a46d63/_packaging/uiux-community/npm/registry/:email=omar_ojeda@jabil.com
//pkgs.dev.azure.com/jblinnersource/ab32dfdb-775d-44da-a767-c4e669a46d63/_packaging/uiux-community/npm/:username=jblinnersource
//pkgs.dev.azure.com/jblinnersource/ab32dfdb-775d-44da-a767-c4e669a46d63/_packaging/uiux-community/npm/:_password=YXI0bndpbGRtdjZmanJleDU0YTVwYW1uZGc0NDN0bHlnanVrM3Uzd21ubWtjZGw1aWZ0YQ==
//pkgs.dev.azure.com/jblinnersource/ab32dfdb-775d-44da-a767-c4e669a46d63/_packaging/uiux-community/npm/:email=omar_ojeda@jabil.com
; end auth token
