@import "src/app/core/scss/app";

app-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    > .mat-sidenav-container {
        display: flex;
        flex: 1;

        > .mat-sidenav-content,
        > .mat-drawer-content {
            display: flex;
            flex: 1;
            overflow: hidden;
            height: 100vh;

            @include media-breakpoint-down('sm') {
                height: auto !important;
            }

            #app-main-content {
                display: flex;
                flex: 1;
                flex-direction: column;
                overflow: hidden;

                #wrapper {
                    display: flex;
                    position: relative;
                    flex: 1;
                    overflow: hidden;

                    .content-wrapper {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        overflow: hidden;

                        app-content {
                            position: relative;
                            display: flex;
                            flex: 1;
                            flex-direction: row;
                            width: 100%;
                            overflow: hidden;

                            > *:not(router-outlet):not(.ps__scrollbar-x-rail):not(.ps__scrollbar-y-rail) {
                                display: flex;
                                flex: 1;
                                width: 100%;
                                min-width: 100%;
                            }

                            > *.ng-animating {

                                .mat-tab-body {
                                    height: 100vh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &[app-layout-mode="boxed"] {
        max-width: 1200px;
        margin: 0 auto;
        @include mat-elevation(8);
    }
}


#dvContainer {
  width: 100%;
  padding-left: 5px;
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.custom-dialog-container .mat-dialog-container {
  overflow: visible;
}

.mat-dialog-content, .mat-dialog-container {
  overflow: visible !important;
}

.mat-dialog-actions {
  clear: both;
}
