.main {
    width: 100%;
    background-color: #f4ffdf;
    display: flex;
    justify-content: center;

    .content {
        text-align: center;
        width: 50%;
        margin: auto;

        img {
            width: 51%;
        }

        .code {
                font-size: 60px;
                margin-bottom: 10px;
        }
    
        .text {
            font-size: 25px;
            margin-top: 10px;
        }
               
    }
}