<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a mat-button class="mat-red-bg" fxFlex="0 0 auto" fxLayout="row"
            fxLayoutAlign="start center">            
            <span *ngIf="production">{{'ENVIRONMENTS.PRODUCTION' | translate}}</span>
            <span *ngIf="!production">{{'ENVIRONMENTS.DEVELOPMENT' | translate}}</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button>JABIL UI</a>
            <span>&bull;</span>
            <a mat-button>1.1.0</a>
        </div>

    </div>

</mat-toolbar>

