app-quick-panel {
    display: flex;
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    z-index: 99;
    flex-direction: column;

    .mat-slide-toggle-content {
        flex: 1;
    }

    .span-spacer {
        flex: 1 1 auto;
    }
    
    .time-alert {
        text-align: right;
        color: gray;
        margin-top: 10px;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .mat-list-text {
        padding-right: 16px !important;
    }

    .show-alert {
        height: auto !important;
        margin-bottom: 25px;
        margin-top: 15px;

        .error-message {
            white-space: inherit !important;
        }
    }
}